<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="dbmDBConfig" class="com.zaxxer.hikari.HikariConfig">
        <constructor-arg name="properties">
            <util:properties location="classpath:hikari_dbm.properties"/>
        </constructor-arg>
    </bean>

    <bean id="dbmDataSource" class="com.zaxxer.hikari.HikariDataSource">
        <constructor-arg ref="dbmDBConfig" />
    </bean>

    <bean id="dbmTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dbmDataSource" />
    </bean>

    <tx:annotation-driven transaction-manager="dbmTransactionManager"/>

    <bean id="dbmSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    
        <property name="dataSource" ref="dbmDataSource" />
        
        <!--  mybatis的映射文件 -->
        <property name="mapperLocations" value="classpath*:com/withlee/mapper/**/*.xml"/>
        
        <!-- Mybatis自身的配置文件，用来声明别名 -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        
        <!-- 要映射类的包路径，如果使用了这种方式，则configLocation中不必再进行声明 -->
        <property name="typeAliasesPackage" value="com.withlee.dbm.domain.*"/>
        
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <!-- 控制domain -->
        <property name="basePackage" value="com.withlee.dbm.persistence.mapper.*"/>
        <property name="sqlSessionFactoryBeanName" value="dbmSqlSessionFactory"/>
    </bean>

</beans>
